#start{
  text-align: center;
  font-size: 40px;
}
#Maps{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: center;
}
.map{
  height: 350px;
  width: 350px;
}
#game{
  position:relative;
}
#fish_collection{
  position:absolute;
  top:30px;
  right:0;
  height:60px;
  width:60px;
}
#cast{
  position:absolute;
  top:30px;
  left:0;
  font-size: 34px;
}
#intstructions{
  position:absolute;
}
#catch{
  position:absolute;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 300px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
