#start{
  text-align: center;
  font-size: 40px;
}
#Maps{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: center;
}
#Compendium{
  position:absolute;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  top:130px;
  right:20px;

}
.map{
  height: 350px;
  width: 350px;
}
.oceanFish{
  height: 100px;
  width: 100px;
}
#game{
  position:relative;
}
#fish_collection{
  position:absolute;
  top:30px;
  right:20px;
  height:60px;
  width:60px;
}
#cast{
  position:absolute;
  top:30px;
  left:0;
  font-size: 34px;
}
#intstructions{
  position:absolute;
}
#catch{
  position:absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#numFish{
  position:absolute;
  top: 80px;
  right: 20px;

}
