body {
  background-color: white;
}

h1 {
  margin:auto;
  text-align: center;
  font-size: 80px;
}
h2 {
  margin:auto;
  text-align: center;
  font-size: 34px;
}

.pic {
  float: left;
  transform: scale(0.9);

}

.navbar {
  display:grid;
  grid-template-columns: auto auto auto;
  height:50px;
  width:100%;
  background-color:#7FFFD4;
}

.home_button{
  text-align:center;
}
.work_button{
  text-align:center;
}
.chaos_button{
  text-align: center;
}

p {
  font-size: 32px;
}
